* {
    box-sizing: border-box;
  }

  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
  }

.clear
{
    clear: left;
}

li
{
  list-style: none;
  float: left;
  padding: 0 15px;
}

a
{
    text-decoration: none;
}

h1
{
    font-size: 48px;
    margin-top: 0;
}



header {
    height: 60px;
    width: 100%;
    background-color: #4F5B73;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .container {
    padding: 0px;
}
  
.header-left .logo h2{
    font-size: 30px;
    color: #D7D7D9;
  
    line-height: 60px;
    margin: 0 30px;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    cursor: pointer;
    margin: 0 30px;
}
  
.header-right li {
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s;
}
  
.header-right li:hover {
    color: rgba(255, 255, 255, 1.0);
}

.menu-icon {
    display: none;  
 }
  
.top-wrapper {
  padding: 130px 0;
  width: 100%;
  min-height: 650px;
  background-image: url(assets/images/Page\ 1\ -\ Background.png);
  background-size: cover;
  color: white;
}

.top-wrapper .container
{
  max-width: 550px;
  float: left;
  padding-left: 100px;
}

.top-wrapper h1 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.top-wrapper p {
  color: #D7D7D9;
  line-height: 180%;
  margin-bottom: 60px;
}

.top-wrapper span
{
  color: white;
}

.btn {
  color: white;
  opacity: 0.7;
  border-radius: 8px;

  float: left;

  margin-right: 30px;
  padding: 12px 24px;
}

.btn:hover {
  opacity: 1;
}

.btn-wrapper p
{
  float: left;
  margin-right: 30px;
  line-height: 50%;
}

.textus {
  background-color: #239b76;
}

.emailus {
  background-color: #3b5998;
}

.service-wrapper
{
    width: 100%;
    background-color: rgba(143, 159, 191, 0.2);
    color: #4F5B73;
    text-align: center;
}

.service-wrapper .container {
    margin: auto;
    padding: 40px 40px;
}

.service-wrapper h1
{
    text-align: center;
}

.service-wrapper h3
{
    font-size: 24px;
}

.services
{
    margin: auto;
    width: 100%;
}

.service
{
    width: 22%;
    float: left;
    background-color: white;
    border-radius: 8px;
    padding: 10px 20px;
    min-height: 600px;
    margin: 0 3%;
}

.service img
{
    width: 100%;
}

.service:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}



.contact-wrapper
{
    width: 100%;
}

.contact-wrapper .container {
    padding: 40px 40px;
}

.contact-wrapper h1
{
    color: #4F5B73;
    text-align: center;
}

.form-wrapper
{
    margin: auto;
    width: 800px;
}

.form-wrapper p
{
    width: fit-content;
    color: #8F9FBF;
}

.form-wrapper input, textarea
{
    width: inherit;
    border-color: #8F9FBF solid 2px;
    border-radius: 4px;

    font-size: 16px;
    padding: 10px;
}

.form-wrapper textarea
{
    height: 120px;
}

.btn-submit
{
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Times New Roman', Times, serif;

    border: none;

    background-color: #8F9FBF;
    box-shadow: 0px 7px #4F5B73;

    cursor: pointer;
}

.btn-submit:hover
{
    color: rgba(255, 255, 255, 1.0);
}

.btn-submit:active
{
    position: relative;
    top: 7px;

    box-shadow: none;
}

footer
{
    width: 100%;
    height: 40px;
    background-color: #9298A6;
    color: #D7D7D9;
}

.footer-left
{
    float: left;

    padding: 0 30px;
}

.footer-left .logo h2{
    font-size: 20px;
    color: #D7D7D9;
    margin: 0;
    padding-top: 10px;
}

.footer-right
{
    float: right;
    cursor: pointer;
    padding: 0 30px;
}
  
.footer-right li {
    line-height: 70%;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}
  
.footer-right li:hover {
    color: rgba(255, 255, 255, 1.0);
}





/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/

@media all and (max-width: 1000px) {

    
    .service
    {
        width: 100%;
        margin: 40px;
    }

    .form-wrapper, input[type=submit] {
        width: 100%;
        margin-top: 0;
         }

     .footer-left .logo h2{
            text-align: center;
        }
        
        .footer-right
        {
            float: center;
        }

        .footer-right li {
            display: block;
        }
  }

@media all and (max-width: 670px) {

    .header-right {
         display: none;
     }


    .top-wrapper p {
        width: 100%;
        text-align: center;
        margin: 20px 0px;
      }
        
    .menu-icon {
        color: white;
        float: right;
        font-size: 25px;
        padding: 21px 0;
        display: block;    
     }

     .top-wrapper h1 {
        font-size: 30px;
      }

     .top-wrapper .container
    {
        margin: auto;
        padding: 40px;
    }


     .btn {
        width: 100%;
        margin: auto;
      }
      

      
      
      .service
      {
          width: 100%;
          margin: 40px;
      }


    .form-wrapper, input[type=submit] {
        width: 100%;
        margin-top: 0;
         }

     .footer-left .logo h2{
            text-align: center;
        }
        
        .footer-right
        {
            float: center;
        }

        .footer-right li {
            display: block;
        }
          
    
    
}